<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posty</title>
</head>
<body>
    <header>
        <div>
            Posty
        </div>
        <nav>
            <a href="{{ url_for('post_add') }}">New</a>
        </nav>
    </header>

    <main>
        {% for post in posts %}
        <article class="post">
            <img src="{{post.photo_url}}" height="250px" class="profile_photo">
            <div class="name">{{post.name}}</div>
            <p class="content">{{post.body}}</p>
            <div class="btn">
                <a href="{{ url_for('post_update', id = post.id) }}">Edit</a> |
                <a href="{{ url_for('post_delete', id=post.id) }}">Delete</a>
            </div>
        </article>
        {% endfor %}
    
        
    </main>
    
</body>
</html>